.box-stock {
    width :300px;
    display : inline-block;
    height : auto;
    border: 1px solid gray;
    padding :10px;
    margin : 10px;
}

.box-stock img {
    width : 150px;
    height : 200px;
}